html, body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    color: #FFF;
    background: #000;
}

#main h1 {
    margin-bottom: 0rem;
}

.tagline {
    opacity: 0.8;
    font-size: 0.8em;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

ul, ol {
    margin-top: 1em;
    box-sizing: border-box;
}

ul li,
ol li {
    width: 100%;
}

p, ol, ul {
    line-height: 1.8em;
}

a {
    color: #FFF;
    text-decoration: none;
    border-bottom: 1px solid #888;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #888;
}

header a {
    border: none;
    padding: 0;
    margin: 0;
}

header h1 {
    font-size: 1rem;
}

header img {
    height: 2.5rem;
}

@media (max-width: 600px) {
    header {
        margin: 1rem;
    }
    
    header img {
       
    }

    header h1 {
        font-size: 0.8rem;
    }
}




#main {
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
}

@media (max-width:  40rem) {
    #main{
        margin-left: 1rem;
        margin-right: 1rem;
        width: calc(100% - 2rem);
    }
}

#main img {
    width: 100%;
    display: block;
}


.imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.imgs img {
    flex: 1;
    margin: 1px 1px;
    object-fit: cover;
    width: 50px;
}


.todo,
.code {
    background: #444;
    padding: 0.1em 0.5em;
}

a.todo,
a.code {
    color: #FFF;
}

header {
    margin-top: 2em;
}

footer {
    margin-bottom: 4em;
}



.img-frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;

    background: rgba(20, 20, 20, 0.7);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.img-frame img {
    max-width: calc(100% - 1em);
    max-height: calc(100% - 4em);
    margin: 1em auto;
    display: block;
    background: #FFF;
}

img.clickable {
    cursor: pointer;
}