@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');


#main-title {
    color: #000;
    max-width: 100%;
    margin: 0;
    padding: 4em 0;
}

#main-title h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0;
}

#main-title p, 
#main-title a {
    color: #000;
    font-style: italic;
}

#main-title a {
    background: none;
    padding: 0;
}

#meetings {
    max-width: calc(100% - (100% - 40rem) / 2);
    margin: 0;
    display: flex;    
    overflow-x: auto;
    align-items: baseline;
    padding: 0 0 4rem calc((100% - 40rem) / 2);
}

.navigation {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;  
    cursor: pointer;
}

.navigation:hover {
    color: #F00;
}

@media screen and (max-width:  40rem) {
    #meetings {
        width: calc(100% - 2rem);
        padding: 1rem;
    }

    #main-title {
        width: 100%;
    }
}

#meetings > .meeting {
    min-width: min(30rem, calc(100% - 4rem));
    padding: 0em 2rem 4rem;
    flex: 1 0 0;
    font-size: 0.9em;
    border-top: 0.1em dotted #000;   
    position: relative;
    margin-top: 1rem;
}

.meeting:before {
    content: "";
    position: absolute;
    background: #000;
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    left: 0rem;
    top: -1rem;
}


.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    align-items: center;
    width: 100%;
}

.logos > a {
    display: block;
    width: 7rem;
    margin: 0.75rem;
} 

.logos > a img {
    display: block;
    width: 100%;
    height: auto;
}
